* {
    padding: 0;
    margin: 0;
    line-height: 0;
    box-sizing: border-box;
}
Background {
    background-image: url(images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -1;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    align-items: center;
}
Calculator {
    position: absolute;
    display: grid;
    grid-template-columns: auto auto auto auto;
    min-width: 325px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 3px 2px 10px;
}
#zero {
    grid-column-start: 1;
    grid-column-end: 3;
    border-bottom-left-radius: 10px;
}
#Equals {   
    border-bottom-right-radius: 10px;
}
#Display {
    position: relative;
    min-height: 100px;
    padding-right: 5%;
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: end;
    background-color: #C4CFD4;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
Display #past {
    line-height: 0;
    color: gray;
    font-size: 20px;
    padding-top: 20px;
}
Display #current {
    line-height: 0;
    font-size: 50px;
    padding-top: 45px;
}
Keypad p {
    line-height: 75px;
}
Keypad {
    position: relative;
    border: .1px solid black;
    text-align: center;
    font-size: 25px;
}
.Op {
    background-color: #42a49c;
}
.Num {
    background-color: #566976;
}
.Num:hover {
    background-color: #5f7381;
}
.Op:hover {
    background-color: #47b3aa;
}
.Num.selected, .Num.selected:hover {
    background-color: #748b9c;
}
.Op.selected, .Op.selected:hover {
    background-color: #52ccc2;
}